.mainNavbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    background-color: white;
    
}
.searchInputContainer{
    display: flex;
    align-items: center;
    flex: 4;
}
.IconsContainer{
    display: flex;
    align-items: center;
    flex: 0.2;
}
.logoContainer{
    flex: 0.2;
    padding-left: 20px;
}
.searchIcon{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    padding: 10px;
}
.searchInput{
    background-color:white;
    width: 200px;
    border-radius: 100px;
    height: 20px;
    border: none;
    padding: 4px;
}
.Icons{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.ProfileImage{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
